html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    margin:0px;
}
a{
    text-decoration: none;
}
.container{
    margin: 0px auto;
    padding: 30px;
    width: 80%;
    /* background-color: red; */
}
/* for cards, to make them cenetered and column */
.flexColumn{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* navbar section start */
.navBar{
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    padding: 40px 100px;
    /* background-color: red; */
}
.navBarLogo{
    width: 45%;
}
.menu{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.menu a{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Karla';
    font-weight: 500;
    color: gray;
    transition: 0.3s ;
}
.menu a:hover, .cartDiv:hover{
    font-family: 'Karla';
    color: black;
    /* this makes text bolder without changing font size */
    text-shadow: 0 0.015em #101010,0 -0.015em #101010,0.01em 0 #101010,-0.01em 0 #101010;
}

.cartDiv{
    width: 10%;
    display: flex;
    margin-left: 30px;
    justify-content: space-evenly;
    align-items: center;
}
.cartDiv a{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Karla';
    font-weight: 500;
    color: gray;
    transition: 0.3s ;
}
/* navbar section end  */

/* banner section start */
.bannerSection{
    background-image: url(../IMAGES/headerBgCoffeeImg.jpg);
    width: 90%;
    height: 80vh;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.bannerLayer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(6, 6, 52, 0.268);
}
.bannerTxtWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Karla';
}
.bannerTxtWrapper>span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 2%;
}
.bannerTxtWrapper h1{
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 2%;
}
.bannerTxtWrapper p{
    font-size: 23px;
    color: #fff;
    padding-bottom: 3%;
}
.bannerTxtWrapper button{
    font-size: 15px;
    padding: 30px;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#101010;
    background-color: #fff;
    font-family: 'Lora';
    cursor: pointer;
    transition: 0.5s;
}
.bannerTxtWrapper button:hover{
    background-color: grey;
    color: #fff;

}
/* banner section end  */

/* fullstory section  */
.fullstorySection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    margin-top: 8%;
}
.fullstorySection h2{
    width: 50%;
    text-align: center;
    margin-bottom: 2%;
    line-height: 60px;
    font-size: 45px;
    color: rgb(70, 70, 70);
    font-family: 'Lora';
}
.fullstorySection p{
    width: 50%;
    /* margin-bottom: 3%; */
    margin: 2% 0;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1.5px;
    font-size: 25px;
    color: gray;
    font-family: 'Karla';
}
.fullstorySection a{
    font-size: 25px;
    padding-bottom: 10px;
    color: rgba(165, 42, 42, 0.741);
    border-bottom: 2px solid  rgba(165, 42, 42, 0.400);
    transition: 0.5s;
    font-family: 'Lora';
}
.fullstorySection a:hover{
    color: brown;
    border-bottom: 2px solid  brown;
}
/* fullstory section  */

/* featured mugs section */

.featuredSectionTitle h4{
    font-size: 20px;
    margin: 0 10px;
    color: #2f3247;
    opacity: 0.6;
    text-transform: uppercase;
    font-family: 'Lora';
}
.featuredSectionTitle{
    display: flex;
    align-items: center;
}
.divider{
    height: 2px;
    background-color: #2f3247;
    opacity: 0.6;
    width: 70px;
    /* border: 2px solid grey; */
}
.mugsCards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.cardsWrapper{
    width: 45%;
}
.card{
    background-image: url(../IMAGES/pinkbgflowercupimg.jpg);
    width:100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 8%;
    display: flex;
    align-items: end;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.card button{
    width: 90%;
    background-color: #fff;
    color: #101010;
    font-family: 'Karla';
    border: none;
    padding: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    opacity: 0;
    visibility: hidden;
    font-size: 20px;
    letter-spacing: 2px;
    position: absolute;
    bottom: -30px;
    transition: 0.5s;
}
.card:hover button{
    opacity: 1;
    bottom: 0;
    visibility: visible;
    cursor: pointer;
}
.cardTxtWrapperTitle{
    font-size: 23px;
    color: darkslategray;
    text-transform: capitalize;
    font-family: 'Manrope';
}
.cardsWrapperPrice{
    margin-top: 8%;
    font-size: 18px;
    color: gray;
    text-transform: uppercase;
    font-family: 'Manrope';
}
.mugsCards .cardsWrapper:nth-child(2) .card{
    background-image: url(../IMAGES/goldenMugimg.jpg);
}

/* featured mugs section */
/* more products section */
.featuredSectionTitle{
    margin: 8%;
    display: flex;
    justify-content: center;
}
.allCard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8%;
    gap: 50px;
}
.allCard .cardsWrapper{
    width: 25%;
}
.allCard .card{
    height: 50vh;
}
.cardsWrapper{
    margin-bottom: 5%;
}
.allCard .cardsWrapper:nth-child(1) .card{
    background-image: url(../IMAGES/mug1.jpg);
}
.allCard .cardsWrapper:nth-child(2) .card{
    background-image: url(../IMAGES/mug2.jpg);
}
.allCard .cardsWrapper:nth-child(3) .card{
    background-image: url(../IMAGES/mug3.jpg);
}
.allCard .cardsWrapper:nth-child(4) .card{
    background-image: url(../IMAGES/mug4.jpg);
}
.allCard .cardsWrapper:nth-child(5) .card{
    background-image: url(../IMAGES/mug5.jpg);
}
.allCard .cardsWrapper:nth-child(6) .card{
    background-image: url(../IMAGES/mug6.jpg);
}
.allCard .cardsWrapper:nth-child(7) .card{
    background-image: url(../IMAGES/mug7.jpg);
}
.allCard .cardsWrapper:nth-child(8) .card{
    background-image: url(../IMAGES/pinkbgflowercupimg.jpg);
}
.allCard .cardsWrapper:nth-child(9) .card{
    background-image: url(../IMAGES/mug8.jpg);
}
/* more products section */

    /* magazine section */
/* .magazineSection{

    background-color: red;
    width: 100%;
} */
.premiumOffer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.magazineOffer{
    /* background-color: blue; */
    width: 45%;
}
.magazineOffer h5{
    font-size: 20px;
    font-family: "Karla";
    color: gray;
    text-transform: uppercase;
}
.magazineOffer h3{
    font-size: 46px;
    font-family: "Karla";
    color: black;
    text-transform: capitalize;
    margin: 3% 0 3% 0;
}
.magazineOffer p{
    font-size: 25px;
    line-height: 1cm;
    font-family: "Karla";
    color: rgb(154, 149, 149);
    margin-bottom: 15%;
}
.magazineOffer a{
    font-size: 16px;
    padding: 25px 30px;
    text-transform: uppercase;
    font-family: 'Manrope';
    letter-spacing: 3px;
    background-color:#2f3247;
    color: #fff;
}
.magazineImages{
    display: flex;
    align-items: center;
    width: 45%;
    /* background-color: yellow; */
}
.magazineImagesSingleimg{
    width: 68%;
    margin-right: 4%;
}
.magazineImagesSingleimg img{
    width: 100%;
}
.smallImagesBox{
    width: 37%;
}
/* zemota fotoze avotmaturad igebs qvemot pixelebs da ratom ver mivxvdi */
.topImg{
    margin-bottom: 6%;
}
.topImg img, .bottomImg img{
    width: 100%;
}
    /* magazine section    */

    /* bg image fixed section */
.fixedSectionImg{
    background-image: url(../IMAGES/bgIMG\ SECTION.jpg);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 10%;
}
    /* bg image fixed section */

    /* lifestyle stories section */
.lifestyleSection{
    margin-bottom: 25%;
}
.lifestyleCardswrapper .cardBox:nth-child(1) .card{
    background-image: url(../IMAGES/lifestyleImg1.jpg);
    width: 100%;
    height: 50vh;
}
.lifestyleCardswrapper .cardBox:nth-child(2) .card{
    background-image: url(../IMAGES/lifestyleImg2.jpg);
    width: 100%;
    height: 50vh;

}
.lifestyleCardswrapper .cardBox:nth-child(3) .card{
    background-image: url(../IMAGES/lifestyleImg3.jpg);
    width: 100%;
    height: 50vh;
}
.lifestyleCardswrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cardBox {
    width: 30%;
}
.cardTxtWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}
.lifeStyleBoxTitle{
    position: absolute;
    font-family: 'Manrope';
    font-size: 25px;
    line-height: 38px;
    color:#1d1f2e ;
}
.lifeStyleBoxP{
    position: absolute;
    font-family: 'Lora';
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
    top: 130px;
    color: rgba(29, 31, 46, 0.7);
}
.lifeStyleBoxDate{
    position: absolute;
    font-family: 'Karla';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 20px;
    color:gray;
    top: 250px;
}
    /* lifestyle stories section */
    
    /* <!-- sign up section --> */
.logInSection{
    width: 90%;
    margin: 0 auto;
    padding: 3%;
    background-color:#1d1f2e;;
}
.logInTitle{
    margin: unset;
}
.logInTitle h4{
    color: #fff;
}
.logInTitle .divider{
    background-color: #fff;
}
.logInSection h3{
    margin: 5% 0%;
    font-family: 'Manrope';
    font-size: 50px;
    color: #fff;
    text-transform: capitalize;
}
#email{
    width: 25%;
    padding: 20px;
    border: 1px solid #ffffff64 ;
    color: #fff;
    background-color: transparent;
}
#email::placeholder{
    font-family: 'Lora';
    letter-spacing: 2px;
    font-size: 15px;
    color:#ffffffa5;
}
.formDivTxtWrapper{
    width: 100%;
}
.emailDiv form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signInButton{
    font-size: 15px;
    margin-left: 20px;
    padding:18.5px 30px;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #101010;
    background-color: #fff;
    font-family: 'Lora';
    cursor: pointer;
    transition: 0.5s;
}
.signInButton:hover{
    color:#fff;
    background-color: #3a39397a;
}
















    /* <!-- sign up section  --> */