html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    margin:0px;
}
a{
    text-decoration: none;
}
.container{
    margin: 0px auto;
    padding: 30px;
    width: 80%;
}
/* navbar section start */
.navBar{
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    padding: 40px 100px;
    /* background-color: red; */
}
.navBarLogo{
    width: 45%;
}
.menu{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.menu a{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Karla';
    font-weight: 500;
    color: gray;
    transition: 0.3s ;
}
.menu a:hover, .cartDiv:hover{
    font-family: 'Karla';
    color: black;
    /* this makes text bolder without changing font size */
    text-shadow: 0 0.015em #101010,0 -0.015em #101010,0.01em 0 #101010,-0.01em 0 #101010;
}

.cartDiv{
    width: 10%;
    display: flex;
    margin-left: 30px;
    justify-content: space-evenly;
    align-items: center;
}
.cartDiv a{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Karla';
    font-weight: 500;
    color: gray;
    transition: 0.3s ;
}
/* navbar section end  */

/* banner section start */
.bannerSection{
    background-image: url(../IMAGES/headerBgCoffeeImg.jpg);
    width: 90%;
    height: 80vh;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.bannerLayer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(6, 6, 52, 0.268);
}
.bannerTxtWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Karla';
}
.bannerTxtWrapper>span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 2%;
}
.bannerTxtWrapper h1{
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 2%;
}
.bannerTxtWrapper p{
    font-size: 23px;
    color: #fff;
    padding-bottom: 3%;
}
.bannerTxtWrapper button{
    font-size: 15px;
    padding: 30px;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#101010;
    background-color: #fff;
    font-family: 'Karla';
}
/* banner section end  */

/* fullstory section  */
.fullstorySection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    margin-top: 8%;
}
.fullstorySection h2{
    width: 50%;
    text-align: center;
    margin-bottom: 2%;
    line-height: 60px;
    font-size: 45px;
    color: rgb(70, 70, 70);
}
.fullstorySection p{
    width: 50%;
    margin-bottom: 3%;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1.5px;
    font-size: 25px;
    color: gray;
}
.fullstorySection a{
    font-size: 25px;
    padding-bottom: 10px;
    color: rgba(165, 42, 42, 0.741);
    border-bottom: 2px solid  rgba(165, 42, 42, 0.400);
    transition: 0.5s;
}
.fullstorySection a:hover{
    color: brown;
    border-bottom: 2px solid  brown;
}
















/* fullstory section  */